.blog-title {
	@extend .portfolio-title;
	left: -10%;
}

.blog-wrapper {
	@extend .portfolio-wrapper;
}

.blog-item {
	@extend .portfolio-item;
}

.blog-link {
	@extend .portfolio-link;
}

.blog-img {
	@extend .portfolio-img;
}

.category {
	a {
		color: $black;
		font-size: $font-s;
		text-transform: uppercase;
	}
}

.post-categories {
	display: flex;
	li {
		a {
			color: $black;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			font-weight: 100;
		}
	}
}
