.experience-wrapper {
	margin-top: 50px;
}

.experience-item {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 50px 0;
	h5 {
		font-size: $font-m;
	}
}

.time,
.job-title {
	font-size: $font-s;
	// text-align: right;
}

.job-title {
	color: $secondary-color;
}

.svg-circle {
	// g {
	position: absolute;
	opacity: 0.5;
	z-index: -1;
	left: -7%;
	transform: rotate(45deg);
	top: -20%;
	// }
}
